In [1]:
import pandas as pd
import pyodbc
import datetime
from datetime import date
import calendar
import numpy as np
from datetime import datetime as dt

In [5]:
df = pd.read_excel("data_sheet.xlsx",skiprows=14)

In [6]:
df_fea = df.copy(deep=True)

In [7]:
df_fea = df_fea[df_fea["Job Dept"]=="FEA"]

In [8]:
df_fea

,Unnamed: 0,Unnamed: 1,Shipment ID,Trans,Customs Info,Estimated Delivery Date,Actual Delivery Date,Mode,EAWB Accepted,EAWB Sent,...,Total Cost (Recognized+Unrecognized),Total Accrual (Recognized+Unrecognized),Total Expense (Recognized+Unrecognized CST+ACR),Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129
2,NaN,NaN,SAJF00008724,AIR,NaN,NaT,NaT,LSE,YES,NO,...,-7298.00,0.00,-7298.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,SAJF00008736,AIR,NaN,NaT,NaT,LSE,YES,NO,...,-2122.00,0.00,-2122.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,SAJF00008739,AIR,NaN,NaT,NaT,LSE,YES,NO,...,-1752.80,0.00,-1752.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,SAJF00008740,AIR,NaN,NaT,NaT,LSE,YES,YES,...,-1063.73,0.00,-1063.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,SAJF00008742,AIR,NaN,NaT,NaT,LSE,YES,NO,...,-246.15,0.00,-246.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20855,NaN,NaN,SAJM00035081,AIR,NaN,NaT,NaT,LSE,NO,NO,...,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20856,NaN,NaN,SAJM00035082,AIR,NaN,NaT,NaT,LSE,NO,NO,...,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20870,NaN,NaN,SAJM00035213,AIR,NaN,NaT,NaT,LSE,NO,NO,...,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20877,NaN,NaN,SAJM00035462,AIR,NaN,NaT,NaT,LSE,YES,YES,...,0.00,-145.23,-145.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21072,NaN,NaN,SAJM00036147,AIR,NaN,NaT,NaT,LSE,YES,YES,...,0.00,-425.39,-425.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_status_list = ["WRK","WHL","IHL"]
job_status_filter_names = []
for li in df["Job Status"].unique().tolist():
    if li in df_status_list:
        pass
    else:
        job_status_filter_names.append(li)
df_filtered = df[df["Job Status"].isin(job_status_filter_names)]
df_filtered = df_filtered[df_filtered["Job Dept"]=="FEA"]

In [12]:
df_filtered

,Unnamed: 0,Unnamed: 1,Shipment ID,Trans,Customs Info,Estimated Delivery Date,Actual Delivery Date,Mode,EAWB Accepted,EAWB Sent,...,Total Cost (Recognized+Unrecognized),Total Accrual (Recognized+Unrecognized),Total Expense (Recognized+Unrecognized CST+ACR),Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129
2,NaN,NaN,SAJF00008724,AIR,NaN,NaT,NaT,LSE,YES,NO,...,-7298.00,0.0,-7298.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,SAJF00008736,AIR,NaN,NaT,NaT,LSE,YES,NO,...,-2122.00,0.0,-2122.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,SAJF00008739,AIR,NaN,NaT,NaT,LSE,YES,NO,...,-1752.80,0.0,-1752.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,SAJF00008740,AIR,NaN,NaT,NaT,LSE,YES,YES,...,-1063.73,0.0,-1063.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,SAJF00008742,AIR,NaN,NaT,NaT,LSE,YES,NO,...,-246.15,0.0,-246.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20853,NaN,NaN,SAJM00035079,AIR,NaN,NaT,NaT,LSE,NO,NO,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20854,NaN,NaN,SAJM00035080,AIR,NaN,NaT,NaT,LSE,NO,NO,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20855,NaN,NaN,SAJM00035081,AIR,NaN,NaT,NaT,LSE,NO,NO,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20856,NaN,NaN,SAJM00035082,AIR,NaN,NaT,NaT,LSE,NO,NO,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20870,NaN,NaN,SAJM00035213,AIR,NaN,NaT,NaT,LSE,NO,NO,...,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN